.input {
  border: 0px;
  box-sizing: border-box;
  background-color: #f9f9f8;
  border-radius: 10px;
  color: rgb(41, 3, 46);
  padding: 10px 10px;
  font-size: 12px;
}

.input:hover {
  border: 1px solid black;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.input:active {
  border: 1px solid black;
  box-sizing: border-box;
  background-color: whitesmoke;
}
