.button {
  border: 3px solid rgb(172, 170, 170);
  border-radius: 15px;
  width: 150px;
  cursor: pointer;
  background-color: #1f2127;
  color: white;
  margin: 10px;
  padding: 10px;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
}
.button:hover {
  background-color: black;
}
.button:active {
  background-color: black;
  box-shadow: 2px 4px whitesmoke;
  transform: translateY(4px);
}
