.lcontainer {
  border-radius: 10px;
  background-color: #adc1b7;
  -webkit-box-shadow: 3px 5px 40px 2px rgba(24, 26, 33, 0.2);
  -moz-box-shadow: 3px 5px 40px 2px rgba(24, 26, 33, 0.2);
  box-shadow: 3px 5px 40px 2px rgba(24, 26, 33, 0.2);
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 10px 10px;
  margin: 10px 10px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  color: #181A21;
  text-align: center;
}
.buttonbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
  font-size: 10px;
  line-height: 1.5;
  font-weight: lighter;
}
