.App {
  border: 2px solid black;
  background-color: #4f7468;
  -webkit-box-shadow: 3px 5px 87px 2px rgba(173, 193, 183, 0.57) inset;
  -moz-box-shadow: 3px 5px 87px 2px rgba(173, 193, 183, 0.57) inset;
  box-shadow: 3px 5px 87px 2px rgba(173, 193, 183, 0.57) inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
